.Home {
    background-color: grey;
    margin: 0;
}

.homeWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}



.formWrapper {
    display: flex;
    flex-wrap: wrap;
}

label,
input {
    display: flex;
    flex-direction: column;
}