.details {
    display: flex;
    height: 100vh;
    align-items: center;
    border: 5px solid black;
    flex-direction: column;
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.inputDetails {
    width: 99%;
    height: 30%;
}

.buttonCompleted {
    height: 25px;
    width: 100%;
    cursor: pointer;
    background-color: red;

}

.modalImage {
    display: flex;
    flex-direction: column;
}