.details {
    height: 100vh;
    background-color: rgb(42, 118, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsWrapper {
    width: 90%;
    height: 90%;
    border: 5px solid black;
    display: flex;

}

.leftDetails {
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.rightDetails {
    width: 50%;
    height: 100%;
    background-color: rgb(236, 49, 49);
}

.inputDetails {
    width: 99%;
    height: 80%;
}