.details {

    display: flex;
    /* justify-content: space-between; */
    height: 100vh;
    align-items: center;
    border: 5px solid black;
    flex-direction: column;
}

.detailsWrapper {
    /* width: 100%; */
    /* height: 100%; */

    display: flex;
    flex-direction: column;

    min-height: 100vh;

}

.leftDetails {
    /* min-height: 100vh; */
    /* width: 50%; */
    /* border: 2px solid black; */
    height: 100%;
}

.rightDetails {
    /* width: 50%; */
    /* height: 100%; */
    /* border: 2px solid black; */
}

.inputDetails {
    width: 99%;
    height: 30%;
}

.buttonCompleted {
    height: 25px;
    width: 100%;
    cursor: pointer;
    background-color: red;

}

.modalImage {
    display: flex;
    flex-direction: column;
}